@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,500;0,600;1,500&family=Lobster&family=Poppins:wght@500&family=Roboto+Slab&family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    
}
:root{
    --primary:#E02C6D;
    --secondary:#3A3A3A;

}
.container{
    width: 1200px;
    margin: 0 auto;

}
#toggler,.fa-bars{
    display: none;
}
.article-common{
        box-shadow: 2px 0px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        border-radius: 6px;
}
/* <!-- strt-nav-bar -->
/* <!-- ------------------------------------------------------------------------------------------------ --> */
.header-item{
    margin-bottom: 100px;
}
.fa-cart-plus{
    font-size: 20px;
    cursor: pointer;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.nav-title h1{
font-size: 31px;
font-weight: bold;
color: var(--secondary);
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu ul li{
    list-style: none;
    margin: 0 20px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 20px;
}

/* <!-- end-nav-bar --> */
/* <!-- -------------------------------------------------------------------------------------------------------- --> */

.top-item{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 480px;
}
.left-item{
    width: 40%;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.left-item h2{
    font-size: 47px;
    color: var(--secondary);
    margin-bottom: 10px;
}

.primary-btn button{
margin-top: 30px;
background-color: var(--primary);
padding: 10px 24px;
font-weight: bold;
font-size: 16px;
color: white;
border-radius: 18px;
box-shadow: 0px 7px 0px #ad0743;
position: relative;
cursor: pointer;
border-style: none;
}
.primary-btn button:active{
    top: 5px;
    box-shadow: 0px 4px 0px #ad0743;
}
.right-item{
    animation-name: animate;
}
@keyframes animate{
    0%, 100%{
        transform: translateY(rem);
    }
    50%{
        transform: translateY(3rem);
    }
}
.bg-image{
    position: relative;
    animation:animate 3s linear infinite;
}
.camera-image{
    position: absolute;
    top: 167px;
    animation:animate 3s linear infinite;
}
/* <!-- end-top-article --> */
/* <!-- -------------------------------------------------------------------------------------------------------- --> */
/* ---------------------------border-start------------------------------------------------------------------- */

.border-top{
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}

.border-1{
position: relative;
width: 17em;
height: 1px;
background-color: #afafaf;
opacity: 15%;
}
.border-2{
position: relative;
width: 41em;
height: 1px;
background-color: #a5a5a5;
opacity: 25%;
}
.border-3{
position: relative;
width: 17em;
height: 1px;
background-color: #bfbebe;
opacity: 15%;
}
.icon-random{
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}

/* --------------------border-end---------------------------------------------------------------------- */

span.time{
    background: #FFE4E8;
    border-radius: 14.6913px;
    font-size: 14.6913px;
    color: #FF4A60;
    padding: 1px 10px;
    margin-left: 25px;
}
.fa-star{
    color: #FFC014;
}
.icon-blank{
    color: black;
}
.fa-bars{
    font-size: 40px;
    position: relative;
    top: -0.2em;
    left: 93%;
}
.fa-arrow-right{
    cursor: pointer;
}
.article-title h3{
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 65px;
    color: var(--secondary);
    margin-top: 100px;
}
.article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-bottom: 65px;
}
.artile-para small{
    color: var(--secondary);  
}
.artile-heading h3{
font-size: 20px;
color: var(--secondary);
}
.article-details{
    width: 280px;
    line-height: 25px;
    margin-top: 13px;
}
.see-more{
    display: flex;
    flex-direction: row-reverse;
    color: var(--primary);
    cursor: pointer;
}

.toggle img{
    background-color: black;
    width: 80px;
    
}.toggler{
    display: none;
}



.footer-details{
    margin-top: 50px;
    background-color: #0a0826;
    padding: 50px;
    line-height: 32px;
}
.footer-title h2{
    color:white;
    text-align: center;
}
.footer-title p{
    color: white;
    text-align: center;
}
.footer-icon{
    color: white;
    text-align: center;
    letter-spacing: 10px;
}







/* mediaquary for small phone */
/* --------------------------------------------------------------------------------- */
@media screen and (max-width:688px) {
    .container {
        width: auto;
        margin: 0 auto;
    }
    .nav-menu{
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        /* transform: translateY(-500px); */
    }
    .fa-bars {
        font-size: 40px;
        position: relative;
        top: -2.4em;
        left: 90%;
    }

    .nav-menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        line-height: 41px;
        background-color: #edebe8;
        padding: 21px;
        transform: scaleY(0);
        transform-origin: top;
    }
    .nav-title h1{
        margin-left: 30px;
    }
    .top-item {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        height: 700px;
        flex-direction: column-reverse;
    }
    .bg-image img{
    width: 100%;
    position: relative;
    z-index: -1;
    }
    .nav-menu ul li a {
        font-size: 33px;
    }
    .bg-image{
        z-index: -1;
    }
    .camera-image {
        z-index: -1;
    }
    .camera-image img{
    width: 77%;
    position: relative;
    left: 15%;
    top: 61px;
    z-index: -1;
    }
    .left-item h2 {
        font-size: 31px;
        color: var(--secondary);
        margin-bottom: 10px;
    }
    .icon-random{
        display: grid;
        grid-row-gap: 15px;
        justify-content: center;
    }
    .artile-image img{
        width: 100%;
    }
    .article-common {
        box-shadow: 2px 0px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        border-radius: 6px;
        width: 50%;
        margin: auto;
    }
    .article {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        margin-bottom: 65px;
    }
    .article-details{
        width: 100%;
    }
    .left-item {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .see-more {
        display: flex;
        flex-direction: row-reverse;
        color: var(--primary);
        cursor: pointer;
        position: relative;
        top: -33px;
        left: -28px;
    }
    .toggle{
        display: block;
    }
    #toggler{
        display: none;

    }
    #toggler:checked ~ ul{
        transform: scaleY(1);
        transition: all 1s;
        }
    }
    /* mediaquary for tab phone */
/* --------------------------------------------------------------------------------- */
@media (min-width:688px) and (max-width:1024px) {
    .container {
        width: auto;
        margin: 0 auto;
        overflow: hidden;
    }
    .nav-menu{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }
    .left-item{
        margin-bottom: 10px;
        margin-top: 100px;
    }

    .nav-menu ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        line-height: 41px;
        background-color: #edebe8;
        padding: 21px;
        transform: scaleY(0);
        transform-origin: top;
    }
    .nav-title h1{
        margin-left: 30px;
    }
    .top-item {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        height: 700px;
        flex-direction: column-reverse;
    }
    .bg-image img{
        width: 63%;
        position: relative;
        z-index: -1;
        left: 150px;
    }
    .nav-menu ul li a {
        font-size: 33px;
    }
    .bg-image{
        z-index: -1;
    }
    .camera-image {
        z-index: -1;
    }
    .camera-image img{
    width: 77%;
    position: relative;
    left: 45%;
    top: 61px;
    z-index: -1;
    }
    .left-item h2 {
        font-size: 31px;
        color: var(--secondary);
        margin-bottom: 10px;
    }
    .icon-random{
        display: grid;
        grid-row-gap: 15px;
        justify-content: center;
    }
    .article-common {
        box-shadow: 2px 0px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        border-radius: 6px;
        width: 50%;
        margin: auto;
    }
    .article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin-bottom: 65px;
    }
    .artile-image img{
        width: 100%;
    }
    .article-details{
        width: 100%;
    }
    .left-item {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .see-more {
        display: flex;
        flex-direction: row-reverse;
        color: var(--primary);
        cursor: pointer;
        position: relative;
        top: -33px;
        left: -28px;
    }
    .toggle{
        display: block;
    }
    #toggler{
        display: none;

    }
    #toggler:checked ~ ul{
        transform: scaleY(1);
        transition: all 1s;
        }
}